[submodule "Dependencies/tbb"]
	path = Dependencies/tbb
	url = https://github.com/ElianeBriand/tbb
[submodule "Dependencies/ensmallen"]
	path = Dependencies/ensmallen
	url = https://github.com/mlpack/ensmallen
	branch = master
[submodule "Dependencies/PDBPC"]
	path = Dependencies/PDBPC
	url = https://github.com/ElianeBriand/PDBPC.git
